@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  @apply bg-four sm:bg-gradient-to-tr from-five to-one sm:py-8 xl:px-32 rubik px-2;
} */

:root {
  --primary: #faa662;
  --primary-foreground: #ffffff;

  --secondary: #c64948;
  --secondary-foreground: #ffffff;

  --secondary: #f08b33;
  --secondary-foreground: #000000;
}
/* :root {
  --primary: #ff7300; 
  --primary-foreground: #ffffff;

  --secondary: #fe5800;
  --secondary-foreground: #ffffff;

  --secondary: #f08b33; 
  --secondary-foreground: #000000; 
} */

body {
  font-family: 'Rubik', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.rubik {
  font-family: var(' --font-rubik');
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: '#C99944';
}

::-webkit-scrollbar-thumb {
  background: #dadada;
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  border-radius: 20px;
}

pre {
  white-space: pre-line;
  word-wrap: break-word;
  font-family: 'Rubik', sans-serif;
  font-size: 12px;
}

.btn {
  position: relative;
  background: #ffffff34;
  /* color: rgb(255, 255, 255); */
  height: 100%;
  z-index: 1;
  overflow: hidden;
}

.btn::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: #fb852c;
  /* color: rgb(255, 255, 255); */
  height: 100%;
  z-index: -1;
  transition: 1s;
}
.btn:hover::before {
  width: 100%;
}

/*? خاصة بالتعامل مع رفع الملف الذي هو عبارة عن صورة قمنا باخفاء الاليمنت الاساسي وعمل اليمنت مخصص  */
input[type='file'] {
  display: none;
}

.custom-file-upload {
  white-space: nowrap;
  font-weight: bold;
  display: inline-block;
  /* background-color: aqua; */
  /* padding: 100px; */
  cursor: pointer;
  color: white; /* White text */
  font-size: 14px;
  text-align: center;
  overflow: hidden;
  z-index: 50;
}

.video-iframe {
  width: 100%;
  height: 100%;
}

.video-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  overflow: hidden;
}

.video-container.absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background-color: #000; /* Optional: background color for full-screen overlay */
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1100;
  cursor: pointer;
  color: #fff;
  font-size: 24px;
}
